
body {
    background: #04115f; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #030a37,
      #e314bd
    ); 
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #1a2980,
      #d60b8f
    ); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: sans-serif;
    color: white;
  }
  main {
    width: 730px;
    height: auto;
    margin: 80px auto 50px;
    display: flex;
    align-items: center;
  }
  .section1 {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
  }
  h1 {
    text-align: center;
    color: chartreuse;
    text-transform: uppercase;
    background: -webkit-radial-gradient(circle farthest-side at top right, #211491 32%, #FF7424 67%, #CF9D29 85%);
    background: -moz-radial-gradient(circle farthest-side at top right, #211491 32%, #FF7424 67%, #CF9D29 85%);
    background: radial-gradient(circle farthest-side at top right, #211491 32%, #FF7424 67%, #CF9D29 85%);
    -webkit-background-clip: text;
    background-clip: var();
    -webkit-text-fill-color: transparent;

  }
  h2 {
    color: #3337eb;
  }
  button {
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    border: solid 2px rgb(208, 8, 81);
  }
  button:hover {
    cursor: pointer;
  }
  .section2 {
    background-color: rgba(255, 255, 255, 0.3);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 250px;
    height: 400px;
    padding: 0 20px;
  }
  .estadisticas {
    border: 1px solid white;
    height: 105;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
  }
  #reinicio {
    height: 50px;
    width: 150px;
    font-size: 15px;
    margin-bottom: 20px;
    color: white;
    background-color: #18099d;
    border: 1px solid white;
    border-radius: 8px;

  }
  footer {
    text-align: center;
  }
  p {
    font-size: 16px;
    font-weight: bolder;
  }
  
  /* Responsive */
  
  @media screen and (max-width: 768px) and (orientation: portrait) {
    h1 {
      color: black;
      font-size: medium;
    }
    main {
      width: 300px;
      margin: 50px auto 50px;
      display: block;
      align-items: center;
    }
    button {
      height: 65px;
      width: 65px;
      font-size: 30px;
      color: black;
      font-weight: bold;
      border-radius: 20px;
    }
    button:hover {
      cursor: pointer;
    }
    .estadisticas {
      border: 1px solid white;
      width: 200px;
      height: 45px;
      border-radius: 8px;
      padding: auto 10px;
      box-sizing: border-box;
      text-align: center;
      padding: 10px;
      margin-left: 27px;
    }
    h2 {
      font-size: 14px;
    }
    .section2 {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 8px;
      width: 260px;
      height: 250px;
      padding-top: 10px;
    }

    #reinicio{
      margin-left: 50px;
    }
  }